*.pyc
*.swp
*.swb
*.swc
*.swd
*.swe
*.swf
*.swg
*.swo
*.swn
*swj
*swk
*swi
*swm
*swh
*swk
*swl
traces/

/src/junk/
/test/*.txt
/test/coreMvm_test/*.npy
/test/coreMvm_test/*.txt
/test/coreOther_test/*.npy
/test/coreOther_test/*.txt

